Repository sixfeetup/scaf, pull requests merged in 2024-07, with the labels that each got.

#254 [198] Update script to ask for nextjs frontend
  README.md
  cookiecutter.json
  hooks/post_gen_project.py
  {{cookiecutter.project_slug}}/frontend_react/.devcontainer/devcontainer.json
  {{cookiecutter.project_slug}}/frontend_react/.devcontainer/docker-compose.extend.yml
  {{cookiecutter.project_slug}}/frontend_react/.dockerignore
  {{cookiecutter.project_slug}}/frontend_react/.eslintignore
  {{cookiecutter.project_slug}}/frontend_react/.eslintrc.cjs
  {{cookiecutter.project_slug}}/frontend_react/.gitignore
  {{cookiecutter.project_slug}}/frontend_react/.husky/pre-commit
  {{cookiecutter.project_slug}}/frontend_react/.prettierignore
  {{cookiecutter.project_slug}}/frontend_react/.prettierrc.json
  {{cookiecutter.project_slug}}/frontend_react/Dockerfile
  {{cookiecutter.project_slug}}/frontend_react/README.md
  {{cookiecutter.project_slug}}/frontend_react/config/jest/cssTransform.js
  {{cookiecutter.project_slug}}/frontend_react/config/jest/fileTransform.js
  {{cookiecutter.project_slug}}/frontend_react/config/jest/setupTests.js
  {{cookiecutter.project_slug}}/frontend_react/index.html
  {{cookiecutter.project_slug}}/frontend_react/jest.config.js
  {{cookiecutter.project_slug}}/frontend_react/package-lock.json
  {{cookiecutter.project_slug}}/frontend_react/package.json
  {{cookiecutter.project_slug}}/frontend_react/public/vite.svg
  {{cookiecutter.project_slug}}/frontend_react/src/.env.example
  {{cookiecutter.project_slug}}/frontend_react/src/App.tsx
  {{cookiecutter.project_slug}}/frontend_react/src/Routes.tsx
  {{cookiecutter.project_slug}}/frontend_react/src/__mocks__/styleMock.js
  {{cookiecutter.project_slug}}/frontend_react/src/__tests__/Card.test.tsx
  {{cookiecutter.project_slug}}/frontend_react/src/assets/rocket.svg
  {{cookiecutter.project_slug}}/frontend_react/src/components/SuspenseFallback.tsx
  {{cookiecutter.project_slug}}/frontend_react/src/components/card/Card.module.css
  {{cookiecutter.project_slug}}/frontend_react/src/components/card/Card.tsx
  {{cookiecutter.project_slug}}/frontend_react/src/index.css
  {{cookiecutter.project_slug}}/frontend_react/src/main.tsx
  {{cookiecutter.project_slug}}/frontend_react/src/pages/Home.module.css
  {{cookiecutter.project_slug}}/frontend_react/src/pages/Home.queries.ts
  {{cookiecutter.project_slug}}/frontend_react/src/pages/Home.tsx
  {{cookiecutter.project_slug}}/frontend_react/src/pages/NotFound.tsx
  {{cookiecutter.project_slug}}/frontend_react/src/vite-env.d.ts
  {{cookiecutter.project_slug}}/frontend_react/tsconfig.json
  {{cookiecutter.project_slug}}/frontend_react/tsconfig.node.json
  {{cookiecutter.project_slug}}/frontend_react/tsconfig.prod.json
  {{cookiecutter.project_slug}}/frontend_react/vite.config.ts
Labels: Frontend

#262 Adds vitest dependencies and test
  {{cookiecutter.project_slug}}/frontend/__tests__/about.test.tsx
  {{cookiecutter.project_slug}}/frontend/package-lock.json
  {{cookiecutter.project_slug}}/frontend/package.json
  {{cookiecutter.project_slug}}/frontend/vitest.config.ts
Labels: Frontend

#263 Setup husky pre-push hooks
  {{cookiecutter.project_slug}}/frontend/.env.example
  {{cookiecutter.project_slug}}/frontend/.gitignore
  {{cookiecutter.project_slug}}/frontend/.husky/pre-push
  {{cookiecutter.project_slug}}/frontend/README.md
  {{cookiecutter.project_slug}}/frontend/package-lock.json
  {{cookiecutter.project_slug}}/frontend/package.json
Labels: Frontend

#275 feat: Adds apollo graphql
  {{cookiecutter.project_slug}}/backend/config/settings/local.py
  {{cookiecutter.project_slug}}/frontend/.env.example
  {{cookiecutter.project_slug}}/frontend/.env.local.example
  {{cookiecutter.project_slug}}/frontend/.eslintrc.json
  {{cookiecutter.project_slug}}/frontend/.gitignore
  {{cookiecutter.project_slug}}/frontend/.husky/pre-push
  {{cookiecutter.project_slug}}/frontend/.prettierignore
  {{cookiecutter.project_slug}}/frontend/Dockerfile
  {{cookiecutter.project_slug}}/frontend/README.md
  {{cookiecutter.project_slug}}/frontend/__generated__/fragment-masking.ts
  {{cookiecutter.project_slug}}/frontend/__generated__/gql.ts
  {{cookiecutter.project_slug}}/frontend/__generated__/graphql.ts
  {{cookiecutter.project_slug}}/frontend/__generated__/index.ts
  {{cookiecutter.project_slug}}/frontend/codegen.ts
  {{cookiecutter.project_slug}}/frontend/components/ErrorBoundary.tsx
  {{cookiecutter.project_slug}}/frontend/lib/apolloClient.ts
  {{cookiecutter.project_slug}}/frontend/package-lock.json
  {{cookiecutter.project_slug}}/frontend/package.json
  {{cookiecutter.project_slug}}/frontend/pages/404.tsx
  {{cookiecutter.project_slug}}/frontend/pages/500.tsx
  {{cookiecutter.project_slug}}/frontend/pages/_app.tsx
  {{cookiecutter.project_slug}}/frontend/pages/about.tsx
  {{cookiecutter.project_slug}}/frontend/pages/index.tsx
  {{cookiecutter.project_slug}}/k8s/base/app.configmap.yaml
Labels: DevOps, Frontend, Backend

#230 docs: Make the generated README more contributor oriented
  {{cookiecutter.project_slug}}/README.md
Labels: documentation

#288 docs: use repo_url variable for git clone example
  {{cookiecutter.project_slug}}/README.md
Labels: documentation
